<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        backupGlobals="false"
        colors="true"
        stopOnFailure="false"
        bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="ImaticDataBundle test suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="KERNEL_CLASS" value="Imatic\Bundle\DataBundle\Tests\Fixtures\TestProject\TestKernel" />
        <env name="DATABASE_URL" value="pgsql://postgres:postgres@127.0.0.1:5432/data_bundle_test" />
        <env name="DATABASE_VERSION" value="11.5" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <env name="TESTING_DATA_INIT" value="1" />
    </php>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <coverage>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </coverage>
</phpunit>
