<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="Tests/bootstrap.php"
        >
    <testsuites>
        <testsuite name="ImaticDataBundle test suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="TEST_DATABASE_DRIVER" value="pdo_pgsql"/>
        <const name="TEST_DATABASE_HOST" value="127.0.0.1"/>
        <const name="TEST_DATABASE_USER" value="postgres"/>
        <const name="TEST_DATABASE_PASS" value="postgres"/>
        <const name="TEST_DATABASE_PORT" value="5432"/>
        <const name="TEST_DATABASE_NAME" value="data_bundle_test"/>
        <const name="TEST_DATABASE_SERVER_VERSION" value="9.2.4"/>
    </php>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
